.react-datepicker__month-container {
    float: left;
    width: 300px;
    height: 350px;
}

.react-datepicker__header {
    background-color: #f8ec31;
}

.react-datepicker__day {
    width: 35px;
    height: 35px;
    background-color: #f9f9f9;
    border: 1px solid #ffffff;
    border-radius: 4px;
    line-height: 35px;
    color: #63666a;
}

.react-datepicker__day--selected {
    background-color: #f8ec31;
    color: #63666a;
}

.react-datepicker__day--weekend {
    color: #ff4b4b;
}

.react-datepicker__day--disabled {
    opacity: .3;
}

.custom-input {
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    background: #f8ec31;
    border-radius: 30px;
}
