.react-datepicker__month-container {
    float: left;
    width: 300px;
    height: 420px;
}

.react-datepicker__header {
    background-color: #fff;
    border-bottom: none;
}

.react-datepicker__day {
    width: 35px;
    height: 35px;
    background-color: #f9f9f9;
    border: 1px solid #ffffff;
    border-radius: 4px;
    line-height: 35px;
    color: #63666a;
}

.react-datepicker__day--selected:hover {
    background-color: #f8ec31;
}

.react-datepicker__day-names {
    display: none;
}

.react-datepicker__day--selected {
    background-color: #f8ec31;
    color: #63666a;
}

.react-datepicker__day--weekend {
    color: #ff4b4b;
}

.react-datepicker__day--disabled {
    opacity: .3;
}

.custom-input {
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background: none;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 14px;
    color: #63666a;
}

.select-container {
    padding: 0 10px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.selected-day {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #63666a;
    border-bottom: 1px solid #e5e5e5;
}

.current-month {
    height: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #63666a;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
}
