.paginator {
    padding: 20px;
    display: flex;
}

.paginator-item {
    min-width: 20px;
    padding: 0 7px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}

.paginator-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.increment-button {
    transform: rotate(270deg);
}

.decrement-button {
    transform: rotate(90deg);
}

.selected-paginator-item {
    background-color: #f8ec31;
}
